<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectoBBDD.Properties.Settings.conexion" connectionString="Data Source=LAPTOP-E1RMVQD6\SQLEXPRESS;Initial Catalog=App;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjectoBBDD.Properties.Settings.db_a85839_appConnectionString"
            connectionString="Data Source=sql5108.site4now.net;Initial Catalog=db_a85839_app;Persist Security Info=True;User ID=db_a85839_app_admin;Password=Pablo-23"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>